*{
    font-family: 'Work Sans';
}
.header{
    background-image: url(../images/banner/banner1.png);
    height: 1200px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: 100%;
}
.head-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-top: 333px;
    padding-right: 230px;
}
.head-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-top: 10px;
    padding-right: 230px;
}
.header-btn{
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
}
.second-page{
    display: flex;
    justify-content: space-evenly;
    padding-right: 230px;
    padding-left: 230px;
}
ul{
    list-style: none;
}
.second-title{
    font-weight: 700;
    font-size: 40px;
    padding-top: 200px;
}
.second-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 15px;
}
li{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 15px;
}
.third-title{
    font-weight: 700;
    font-size: 40px; 
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
}
.item-holder{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.item-description{
    font-weight: 700;
    font-size: 30px;
}
.add-on{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
.gradient{
    background-image: url(../images/gradient2.png),url(../images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    border-radius: 8px;
    margin: auto;
    padding-bottom: 70px;
}
.motivation{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 64px;
}
.last-button{
    padding: 20px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: white;  
    border-radius: 5px;
    border: 0;
}
.move{
    padding-left: 64px;
}
.footer{
    display: flex;
    background: #151414;
    justify-content: space-around;
    height: 577px;
}
.icons{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    padding-left: 10px;
}
.future{
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    padding-top: 130px;
}
.last-para{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.subscribe{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 140px;
}
.sub{
    padding: 20px 36px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    background: white;  
    border-radius: 5px;
    border: 0;
}
.justify{
    padding-bottom: 20px;
}
.email{
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    width: 325px;
    height: 64px;
    padding:22px10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.own-part{
    background-image: url(../images/pp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    height: 808px;
}
.own-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 240px;
    
}
.ownpara-1{
    font-weight: 700;
    font-size: 40px;
}
.ownpara-2{
    font-weight: 400;
    font-size: 25px;
    color: #444343;
}